extends ../layout.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      .home__titles
        each collection, index in collections
          .collections__titles_label=`${home.data.collection} ${numberToWord(index + 1)}`
          .collections__titles_title=collection.data.title
      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(alt=media.image.alt src=media.image.url)
      a(href=Link(home.data.collections))=home.data.button

